
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css" href="~/Content/Style.css" />


<div class="primero">
    <div class="uno">
        <img src="~/img/empleados.jpg" style="width:300px; height:175px"><img><br /><br />
        <a href="/Empleados/Index" class="btn btn-primary">Empleados</a><br /><br />
    </div>
    <div class="dos">
        <img src="~/img/departamentos.jpg" style="width:300px; height:175px"><img><br /><br />
        <a href="/Departamentos/Index" class="btn btn-primary">Departamentos</a><br /><br />
    </div>
    <div class="tres">
        <img src="~/img/cargos.jpg" style="width:300px; height:175px"><img><br /><br />
        <a href="/Cargos/Index" class="btn btn-primary">Cargos</a><br /><br />
    </div>
</div>