@model IEnumerable<FinalProg.Models.Cargos>

@{
    ViewBag.Title = "Cargos";
}
<link rel="stylesheet" type="text/css" href="~/Content/Style.css" />
<h2>Cargos</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
        </tr>
    }

</table>

