
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css" href="~/Content/Style.css" />

<div class="primero">
    <div class="uno">
        <img src="~/img/vernomina.jpg" style="width:300px; height:175px"><img><br /><br />
        <a href="/Informes/Nomina" class="btn btn-primary">Ver Nóminas</a><br /><br />
    </div>
    <div class="dos">
        <img src="~/img/activos.jpg" style="width:300px; height:175px"><img><br /><br />
        <a href="/Informes/Activos" class="btn btn-primary">Empleados Activos</a><br /><br />
    </div>
    <div class="tres">
        <img src="~/img/inactivos.png" style="width:300px; height:175px"><img><br /><br />
        <a href="/Informes/Inactivos" class="btn btn-primary">Empleados Inactivos</a><br /><br />
    </div>
    <div class="cuatro">
        <img src="~/img/departamentos.jpg" style="width:300px; height:175px"><img><br /><br />
        <a href="/Informes/Departamentos" class="btn btn-primary">Ver Departamentos</a><br /><br />
    </div>
    <div class="cinco">
        <img src="~/img/cargos.jpg" style="width:300px; height:175px"><img><br /><br />
        <a href="/Informes/Cargos" class="btn btn-primary">Ver Cargos</a><br /><br />
    </div>
    <div class="seis">
        <img src="~/img/entrada.jpg" style="width:300px; height:175px"><img><br /><br />
        <a href="/Informes/Entradas" class="btn btn-primary">Entrada Empleados</a><br /><br />
    </div>
    <divc class="relleno"></divc>
    <div class="permisos">
        <img src="~/img/salida.jfif" style="width:300px; height:175px"><img><br /><br />
        <a href="/Informes/Salidas" class="btn btn-primary">Salida Empleados</a><br /><br />
    </div>
    <div class="licencias">
        <img src="~/img/verpermisos.jpg" style="width:300px; height:175px"><img><br /><br />
        <a href="/Informes/Permisos" class="btn btn-primary">Permisos Empleados</a><br /><br />
    </div>
</div>

